.u-section-1 .u-sheet-1 {
  min-height: 663px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 600;
  text-transform: uppercase;
  margin: 298px auto 60px;
  padding: 19px 54px 19px 52px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    width: 218%;
    left: -59%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .embed-responsive-1 {
    width: 347%;
    left: -123%;
  }
}